<div class="container">
    <div *ngIf="isLoggedIn === true" class="row display-6 m-3">
        <div class="col-2 border-bottom border-dark" [ngClass]="border ? 'border-2' : ''">
            <a href="#" class="text-decoration-none text-black">All posts</a>
        </div>
        <div class="col-2 border-bottom border-2">
            <a href="#" class="text-decoration-none text-black"  [ngClass]="border ? 'border-2' : ''">Following</a> 
        </div>
    </div>
    <ul>
        <app-blog *ngFor="let blog of blogs$ | async" [blog]="blog"></app-blog>
    </ul>
</div>