#logo {
    width: 80px;
    height: 80px;
}
nav {
    background-color: #FEBC44;
    width: 100%;
}

.login {
    background-color: #213458;
}

.navigation-link {
    text-decoration: none;
    color: #213458 !important;
    margin-left: 30px;
    font-size: 36px;
    font-weight: lighter !important;
}

.username {
    color: #213458;
}

input {
    display: inline;
}

.search {
    display: inline;
}

form {
    margin: 0 auto;
}