<div class="container d-flex flex-column align-items-center">
    <h1 class="display-5 text-center my-5">Welcome back</h1>
    <form class="w-50" (submit)="onSubmit(username.value, password.value)">
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Username</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter your username" #username required>
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Password</label>
            <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Enter your password" #password required>
          </div>
          <div class="mb-3">
            <button type="submit" class="text-uppercase btn btn-primary w-100">log in</button>
          </div>
          <div class="mb-3">
            <a routerLink="/register" class="text-decoration-none text-uppercase text-center w-100 d-block
                text-primary" id="register-link">register here!</a>
          </div>
    </form>
</div>